In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_transaction_data = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', 'Transactions')
raw_transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [21]:
raw_new_customer_list = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', 'NewCustomerList')
raw_new_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            894 non-null    object
 6   job_industry_category                835 non-null    object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Unnamed: 16                          1000 non-null   float64
 17  Unnamed: 17                          1000 non-null   float64
 18  Unnamed: 18                          1000 non-null   float64
 19  Unnamed: 19                          1000 non-null   float64
 20  Unnamed: 20                          1000 non-null   int64
 21  Rank                                 1000 non-null   int64
 22  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 179.8+ KB

C:\Program Files\Sublime Text\sublime_text.exe\ipykernel_12348\3715645380.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  raw_new_customer_list = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', 'NewCustomerList')

In [22]:
raw_customer_demographic = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', 'CustomerDemographic')
raw_customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          4000 non-null   int64
 1   first_name                           4000 non-null   object
 2   last_name                            3875 non-null   object
 3   gender                               4000 non-null   object
 4   past_3_years_bike_related_purchases  4000 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3494 non-null   object
 7   job_industry_category                3344 non-null   object
 8   wealth_segment                       4000 non-null   object
 9   deceased_indicator                   4000 non-null   object
 10  default                              3698 non-null   object
 11  owns_car                             4000 non-null   object
 12  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB

C:\Program Files\Sublime Text\sublime_text.exe\ipykernel_12348\3041441942.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  raw_customer_demographic = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', 'CustomerDemographic')

In [23]:
raw_customer_address = pd.read_excel('KPMG_VI_New_raw_data_update_final.xlsx', 'CustomerAddress')
raw_customer_address.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [28]:
# Remove empty rows from the transaction data
transaction_data = raw_transaction_data.copy().dropna()
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  float64
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.1+ MB

In [29]:
# Drop empty rows from the customer demographics
customer_demographic = raw_customer_demographic.copy().dropna()
customer_demographic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2630 entries, 0 to 3996
Data columns (total 13 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          2630 non-null   int64
 1   first_name                           2630 non-null   object
 2   last_name                            2630 non-null   object
 3   gender                               2630 non-null   object
 4   past_3_years_bike_related_purchases  2630 non-null   int64
 5   DOB                                  2630 non-null   datetime64[ns]
 6   job_title                            2630 non-null   object
 7   job_industry_category                2630 non-null   object
 8   wealth_segment                       2630 non-null   object
 9   deceased_indicator                   2630 non-null   object
 10  default                              2630 non-null   object
 11  owns_car                             2630 non-null   object
 12  tenure                               2630 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 287.7+ KB

In [30]:
# Drop empty rows in the new customer list
new_customer_list = raw_new_customer_list.copy().dropna()
new_customer_list.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           715 non-null    object
 1   last_name                            715 non-null    object
 2   gender                               715 non-null    object
 3   past_3_years_bike_related_purchases  715 non-null    int64
 4   DOB                                  715 non-null    datetime64[ns]
 5   job_title                            715 non-null    object
 6   job_industry_category                715 non-null    object
 7   wealth_segment                       715 non-null    object
 8   deceased_indicator                   715 non-null    object
 9   owns_car                             715 non-null    object
 10  tenure                               715 non-null    int64
 11  address                              715 non-null    object
 12  postcode                             715 non-null    int64
 13  state                                715 non-null    object
 14  country                              715 non-null    object
 15  property_valuation                   715 non-null    int64
 16  Unnamed: 16                          715 non-null    float64
 17  Unnamed: 17                          715 non-null    float64
 18  Unnamed: 18                          715 non-null    float64
 19  Unnamed: 19                          715 non-null    float64
 20  Unnamed: 20                          715 non-null    int64
 21  Rank                                 715 non-null    int64
 22  Value                                715 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 134.1+ KB

In [32]:
 # Convert product first sold date to DATE
transaction_data['product_first_sold_date'] =  pd.to_datetime(transaction_data['product_first_sold_date'], errors='coerce', origin='1899-12-30', unit='D')
transaction_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19445 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19445 non-null  int64
 1   product_id               19445 non-null  int64
 2   customer_id              19445 non-null  int64
 3   transaction_date         19445 non-null  datetime64[ns]
 4   online_order             19445 non-null  float64
 5   order_status             19445 non-null  object
 6   brand                    19445 non-null  object
 7   product_line             19445 non-null  object
 8   product_class            19445 non-null  object
 9   product_size             19445 non-null  object
 10  list_price               19445 non-null  float64
 11  standard_cost            19445 non-null  float64
 12  product_first_sold_date  19445 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(3), object(5)
memory usage: 2.1+ MB

In [36]:
# Check transaction data for outliers on transaction date
print(f"The start date is {transaction_data['transaction_date'].min()} and the end date is {transaction_data['transaction_date'].max()}")

The start date is 2017-01-01 00:00:00 and the end date is 2017-12-30 00:00:00

In [41]:
# Customer Demographic
# gender: male or female only, no f or m
for value in customer_demographic.index: 
    if customer_demographic.loc[value, "gender"] == 'F': 
        customer_demographic.loc[value, "gender"] = 'Female'

for value in customer_demographic.index: 
    if customer_demographic.loc[value, "gender"] == 'Femal': 
        customer_demographic.loc[value, "gender"] = 'Female'         
        
for value in customer_demographic.index: 
    if customer_demographic.loc[value, "gender"] == 'M': 
        customer_demographic.loc[value, "gender"] = "Male"

In [42]:
customer_demographic.groupby(['gender']).sum()

C:\Program Files\Sublime Text\sublime_text.exe\ipykernel_12348\1661635514.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  customer_demographic.groupby(['gender']).sum()

        customer_id  past_3_years_bike_related_purchases   tenure
gender
Female      2726011                                66031  14471.0
Male        2404991                                63795  13595.0

In [43]:
customer_demographic

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
8,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,0/0,Yes,8.0
9,10,Fiorenze,Birdall,Female,49,1988-10-11,Senior Quality Engineer,Financial Services,Mass Customer,N,ð©ð½,Yes,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3992,3993,Andi,Dumelow,Female,6,1974-12-05,Librarian,Entertainment,Mass Customer,N,á,No,10.0
3993,3994,Stephie,Byars,Female,5,1989-04-07,Structural Analysis Engineer,Manufacturing,Affluent Customer,N,-100,No,12.0
3994,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,á,Yes,14.0
3995,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,-100,No,19.0
3996,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,â¦testâ§,Yes,1.0

In [ ]:
# No data to be changed in new_customer_list